<footer class="container text-center">
    <div class="section-contact">
        <div class="section-contents">
            <hr />
            <br />
            <address class="text-center">
                <span class="logo-company logo-text-company"></span><span class="logo-company logo-text-source"></span>
                <br />
                123 Main Street
                <br />
                Newport Beach, CA 92660
                <br />
                +1 949.555.0111
                <br />
                <a href="http://www.genesyssource.com">CompanyWebSite.com</a> | <a href="http://www.twitter.com/genesyssource">@Html.Raw("@CompanyTwitter")</a>
                <br />
                <div class="social">
                    <a href="http://www.facebook.com/GenesysSource"><img src="~/Images/social/social-facebook.png" alt="http://facebook.com/GenesysSource" /></a>
                    <a href="http://www.twitter.com/GenesysSource"><img src="~/Images/social/social-twitter.png" alt="http://twitter.com/GenesysSource" /></a>
                    <a href="http://www.genesysframework.com/news/rss/1"><img src="~/Images/social/social-rss.png" alt="http://www.genesysframework.com/news/rss/1" /></a>
                </div>
            </address>
            <div class="footer-links">
                <a href="http://docs.genesysSource.com/Library/Genesys-Framework/genesys-framework-requirements.pdf" target="_blank">Framework Specs (PDF)</a>
                | <a href="http://docs.genesyssource.com/library/genesys-framework/genesys-framework-quick-guide.pdf" target="_blank">Quick-Start Guide (PDF)</a>
                | <a href="http://docs.genesyssource.com/reference/genesys-framework" target="_blank">Class Reference Library</a>
                | <a href="http://www.genesysframework.com/boards/forum/5/issues-and-solutions" target="_blank">Report a Problem</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        @(String.Format("Copyright (c) {0} {1}. All rights reserved.", DateTime.UtcNow.Year, "Genesys Source"))
    </div>
</footer>
