<div class="navbar navbar-inverse navbar-fixed-top nav-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-left">
                <div class="row logo-container">
                    <a href="~/">
                        <span class="logo-company logo-text-company"></span><span class="logo-company logo-text-source"></span>
                        <p class="logo-product logo-text-product"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://dev-web-16:20871/v1/CustomerSearch/-1/i/x/" alt="Search (HttpGet)" data-toggle="collapse" data-target=".in">
                        <div class="hidden-md hidden-sm text-default">Search (HttpGet)<b class="caret"></b></div>
                        <span class="glyphicon glyphicon-search visible-md visible-sm"></span>
                    </a>
                </li>
                <li>
                    <a href="http://docs.GenesysSource.com" alt="Docs" target="_blank" data-toggle="collapse" data-target=".in">
                        <div class="hidden-md hidden-sm">Docs<b class="caret"></b></div>
                        <span class="glyphicon glyphicon-search visible-md visible-sm"></span>
                    </a>
                </li>
                <li class="header-tile blue-background">
                    <a href="http://www.genesysstack.com/genesys-Framework" target="_blank" alt="Genesys Framework" data-toggle="collapse" data-target=".in">
                        <span class="glyphicon glyphicon-house"></span>
                        <p>Genesys Framework</p>
                    </a>
                </li>
                <li class="header-tile green-background">
                    <a href="http://www.genesysenvironments.com/cloud-dev-environment" target="_blank" alt="Genesys Cloud Dev Environment" data-toggle="collapse" data-target=".in">
                        <span class="glyphicon glyphicon-cloud"></span>
                        <p>Cloud Dev Environment</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
