<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FrameworkDataEntities" connectionString="metadata=res://*/FrameworkEntity.csdl|res://*/FrameworkEntity.ssdl|res://*/FrameworkEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DatabaseServer.dev.getframework.local;initial catalog=FrameworkData;integrated security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- App.config - Properties(F4) -> Build Action: None AND Copy to Output Directory: Do not copy
        Local\ConnectionStrings.config - Properties(F4) -> Build Action: None AND Copy to Output Directory: Copy Always (otherwise will throw not found exception)
        Local\AppSettings.config - Properties(F4) -> Build Action: None AND Copy to Output Directory: Copy Always (otherwise will throw not found exception)
  -->
  <location allowOverride="true">
    <appSettings file="Local\AppSettings.config" />
  </location>
  <connectionStrings configSource="Local\ConnectionStrings.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extras.Universal" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.12.0" newVersion="3.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extensions.Universal" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.12.0" newVersion="3.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extras.Full" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.12.0" newVersion="3.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extensions.Full" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-3.0.12.0" newVersion="3.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>