<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Framework.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
  <add name="FrameworkDataEntities" connectionString="metadata=res://*/GenesysFrameworkEntity.csdl|res://*/GenesysFrameworkEntity.ssdl|res://*/GenesysFrameworkEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DatabaseServer.dev.getframework.local;initial catalog=FrameworkData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extras.Universal" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.11.0" newVersion="3.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extras.Full" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.11.0" newVersion="3.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extensions.Universal" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.11.0" newVersion="3.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Genesys.Extensions.Full" publicKeyToken="e9c26097b5145304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.11.0" newVersion="3.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>