<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Framework.WebServices.Data.mdf;Integrated Security=True;Application Name=GenesysFramework;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection-LocalFile" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Framework.WebServices.Data.mdf;Integrated Security=True;Application Name=GenesysFramework;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection-SQLServer" connectionString="data source=DatabaseServer.dev.GenesysSource.com;initial catalog=FrameworkData;Integrated Security=True;Multipleactiveresultsets=True;Application Name=GenesysFramework" providerName="System.Data.EntityClient" />
</connectionStrings>
