/* 
* Standard Html 
*/
footer{
    margin: 10px 20px 10px 20px;
}

/*
* Bootstrap extensions
*/
.body-content{
    padding-top: 25px;
    min-height: 400px;
}

/*
* Genesys
*/
/* Spacers form padding/margin */
.genesys-spacer-all
{
    padding: 15px;
}
/* text alignment */
.genesys-text-left{
    text-align: left;
}
.genesys-text-right{
    text-align: right;
}
.genesys-text-center{
    text-align: center;
}

.genesys-box {
    background: #EFEFEF;
    padding: 1px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.genesys-box-title {
    background: #6795C7;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 48px;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.genesys-nav-bar {
     background-color: #6795C7; 
     border-color: #6795C7;
}
.genesys-nav-bar .navbar-brand, 
.genesys-nav-bar .navbar-nav > li > a {
     color: #fff;
}
.genesys-nav-bar .navbar-brand:hover, .genesys-nav-bar .navbar-brand:focus,
.genesys-nav-bar .navbar-nav > li > a:hover, .genesys-nav-bar .navbar-nav > li > a:focus {
    color: bisque;
    background-color: transparent;
}
.genesys-grid-header {
    background-color:gray;
    color: white;
}