<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=DatabaseServer.dev.GetFramework.local;initial catalog=FrameworkData;integrated security=True;application name=GenesysFramework" providerName="System.Data.SqlClient" />
  <!-- ConnectionStrings.config contains all 3 main connection string categories are represented here, allowing easy future separation of databases. 
      1. MyDataConnection: Connection to traditional OLTP database, containing data and supporting schema. 
      2. MyCodeConnection: Connection to the database that serves source code applications, web services and web sites. Good to abstract away code from the physical database tables.
      3. MyLogConnection: Connection to the Log for audit logging, insert only, high disk space, low selects type logging databases.
      * Can use to fit needs, i.e. MyReportsConnection, MyCodeV2Connection, etc.-->
  <add name="MyCodeConnection" connectionString="data source=DatabaseServer.dev.GetFramework.local;initial catalog=FrameworkData;integrated security=True;application name=GenesysFramework" />
  <add name="MyDataConnection" connectionString="data source=DatabaseServer.dev.GetFramework.local;initial catalog=FrameworkData;integrated security=True;application name=GenesysFramework" />
  <add name="MyLogConnection" connectionString="data source=DatabaseServer.dev.GetFramework.local;initial catalog=FrameworkData;integrated security=True;application name=GenesysFramework" />
</connectionStrings>
