<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Genesys.Extensions.Universal" version="3.17.4.2" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Genesys.Foundation.Interfaces" version="3.17.4.2" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Genesys.Foundation.Models" version="3.17.4.2" targetFramework="portable46-net451+win81+wpa81" />
</packages>