@{
    ViewBag.Title = "Your Web API Service powered by Genesys Source";
}

<div class="section-contents padding-md">
    <h2>Welcome to your Web API service!</h2>
    <p class="lead">Your new Web API Service + Reusable Framework is ready!</p>
    <blockquote>
        <p><strong>Step 1:</strong> Publish the Framework.Database (SSDT) project to your SQL Server by:</p>
        <ul>
            <li>Double-click Framework.Database\Publish\<strong>PublishToDev.publish.xml</strong> to bring up the Publish form</li>
            <li>Set your SQL connection by clicking the <strong>Edit</strong> button</li>
            <li>Click <strong>Publish</strong> and SSDT will publish schema, SPs, views and data to your destination database</li>
        </ul>
        <p><strong>Step 2:</strong> Set the Framework.Entity (EF) connection strings to your SQL Server by::</p>
        <ul>
            <li>Open Framework.WebApp\App_Data\<strong>ConnectionStrings.config</strong></li>
            <li>Change DatabaseServer.dev.GenesysSource.com to your SQL Server machine name</li>
            <li>For SQL Authentication, replace "Integrated Security=true" with "user id=USER; password=PASS;"</li>
        </ul>
        <p><strong>Step 3:</strong> Run the Framework.WebApp project!</p>
        <ul>
            <li>Right-click the <strong>Framework.WebApp</strong> project and select <strong>Set as Startup Project</strong></li>
            <li>Press <strong>F5</strong> to run</li>
            <li>Click the <strong>Search</strong> link at the top, enter "i" for First Name, and click Search to see records with "i"</li>
        </ul>
    </blockquote>
    <p><a href="http://docs.GenesysSource.com/library/Genesys-Framework/Genesys-Framework-Quick-Guide.pdf" class="btn btn-primary btn-lg">View Framework Quick-Start Guide &raquo;</a></p>
    <div class="row">
        <div class="col-md-6">
            <h3>What is the Genesys Framework?</h3>
            <p>Genesys Source Framework is a open-source, full-stack, cross-platform .NET solution that...</p>
            <ul>
                <li>Eliminates the setup time on your next .NET project</li>
                <li>Centralizes your business objects in one reusable solution</li>
                <li>Allows your objects to be consumed by MVC, Web API, WPF, UWP, iOS, Android and more!</li>
            </ul>
            <p class="text-center"><a class="btn btn-info btn-lg" href="http://docs.GenesysSource.com/library/Genesys-Framework/Genesys-Framework-Requirements.pdf">View Tech Requirements &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h3>Other areas of interest:</h3>
            <ul>
                <li>See the Framework project at: <a href="http://www.GenesysFramework.com">GenesysFramework.com</a></li>
                <li>Genesys Framework Quick-Guide: <a href="http://docs.GenesysSource.com/library/Genesys-Framework/Genesys-Framework-Quick-Guide.pdf">docs.GenesysSource.com</a></li>
                <li>Genesys on GitHub <a href="http://www.github.com/GenesysSource">github.com/GenesysSource</a></li>
                <li>Genesys in Visual Studio <a href="https://marketplace.visualstudio.com/search?term=Genesys&target=VS&sortBy=Relevance">marketplace.visualstudio.com</a></li>
                <li>Visit us at: <a href="http://www.GenesysSource.com">GenesysSource.com</a></li>
            </ul>
            <br />
            <p class="text-center"><a class="btn btn-info btn-lg" href="http://www.genesysstack.com">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
