@{
    ViewBag.Title = "Your Web API web service powered by Genesys Framework";
}

<div class="jumbotron">
    <h2>Welcome to your Web API web service!</h2>
    <p class="lead">Your new Web API web service + Reusable Framework powered by the Genesys Framework is ready!</p>
    <blockquote>
        <table>
            <tr>
                <td style="width:8%;vertical-align:top;"><strong>Step 1:</strong></td>
                <td>
                    Publish the Framework.Database (SSDT) project to your SQL Server by:
                    <ul>
                        <li>Double-click Framework.Database\Publish\<strong>PublishToDev.publish.xml</strong> to bring up the Publish form</li>
                        <li>Set your SQL connection by clicking the <strong>Edit</strong> button</li>
                        <li>Click <strong>Publish</strong> and SSDT will publish schema, SPs, views and data to your destination database</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width:8%;vertical-align:top;"><strong>Step 2:</strong></td>
                <td>
                    Set the Framework.Entity (EF) connection strings to your SQL Server by:
                    <ul>
                        <li>Open Framework.WebServices\App_Data\<strong>ConnectionStrings.config</strong></li>
                        <li>Change DatabaseServer.dev.GetFramework.com to your SQL Server machine name</li>
                        <li>For SQL Authentication, change "Integrated Security=true" to "user id=USER; password=PASS;"</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width:8%;vertical-align:top;"><strong>Step 3: </strong></td>
                <td>
                    Run the Framework.WebServices project!
                    <ul>
                        <li>Right-cick the <strong>Framework.WebServices</strong> project and select <strong>Set as Startup Project</strong></li>
                        <li>Press <strong>F5</strong> to run</li>
                        <li>Type the following path to display customer 18 data: <strong>/v1/customer/18</strong></li>
                    </ul>
                </td>
            </tr>
        </table>
    </blockquote>
    <p><a href="http://docs.getframework.com/library/Genesys-Framework-Quick-Guide.pdf" class="btn btn-primary btn-lg">View Quick-Start Guide &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What is the Genesys Framework?</h2>
        <p>Genesys Framework is a full-stack .NET solution with Data Tier, Middle Tier and Presentation Tier projects that centralize your business objects in one reusable solution. 
        Your framework C# objects then can be used in any app type that you may need - in a web site, in a web service, in a mobile app and in the database.</p>
        <br />
        <p><a class="btn btn-default" href="http://docs.getframework.com/library/Genesys-Framework-Requirements.pdf">View Tech Requirements &raquo;</a></p>
    </div>
    <div class="col-md-offset-1 col-md-5">
        <h2>Other areas of interest:</h2>
        <ul>
            <li>Visit us at: <a href="http://www.getframework.com">http://www.GetFramework.com</a></li>
            <li>Genesys Framework Quick-Guide: <a href="http://docs.getframework.com/library/Genesys-Framework-Quick-Guide.pdf">http://docs.getframework.com</a></li>
            <li>Genesys Framework Reference: <a href="http://docs.getframework.com/reference/Genesys-Framework-Foundation">http://docs.getframework.com</a></li>
            <li>Genesys on GitHub <a href="http://www.github.com/GenesysSource">http://www.github.com/GenesysSource</a></li>
            <li>Genesys in Visual Studio <a href="https://marketplace.visualstudio.com/search?term=Genesys&target=VS&sortBy=Relevance">http://marketplace.visualstudio.com</a></li>
        </ul>
        <br />
        <p><a class="btn btn-default" href="http://www.getframework.com">Learn more &raquo;</a></p>
    </div>
</div>